# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/*
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage
/node_modules/*
ios/link-assets-manifest.json
ios/settle_sphere_mobile/Info.plist
ios/settle_sphere_mobile.xcodeproj/project.pbxproj
node_modules/.package-lock.json
node_modules/.bin/browserslist
node_modules/.bin/image-size
node_modules/.bin/js-yaml
node_modules/.bin/jscodeshift
node_modules/.bin/metro
node_modules/.bin/metro-symbolicate
node_modules/.bin/node-which
node_modules/.bin/react-native
node_modules/.bin/resolve
node_modules/.bin/rimraf
node_modules/.bin/semver
node_modules/.bin/update-browserslist-db
node_modules/@babel/register/node_modules/.bin/semver
node_modules/@babel/register/node_modules/make-dir/index.d.ts
node_modules/@babel/register/node_modules/make-dir/index.js
node_modules/@babel/register/node_modules/make-dir/license
node_modules/@babel/register/node_modules/make-dir/package.json
node_modules/@babel/register/node_modules/make-dir/readme.md
node_modules/@babel/register/node_modules/semver/CHANGELOG.md
node_modules/@babel/register/node_modules/semver/LICENSE
node_modules/@babel/register/node_modules/semver/package.json
node_modules/@babel/register/node_modules/semver/range.bnf
node_modules/@babel/register/node_modules/semver/README.md
node_modules/@babel/register/node_modules/semver/semver.js
node_modules/@babel/register/node_modules/semver/bin/semver
node_modules/@babel/register/node_modules/source-map-support/browser-source-map-support.js
node_modules/@babel/register/node_modules/source-map-support/LICENSE.md
node_modules/@babel/register/node_modules/source-map-support/package.json
node_modules/@babel/register/node_modules/source-map-support/README.md
node_modules/@babel/register/node_modules/source-map-support/register-hook-require.js
node_modules/@babel/register/node_modules/source-map-support/register.js
node_modules/@babel/register/node_modules/source-map-support/source-map-support.js
node_modules/@eslint/eslintrc/node_modules/.bin/js-yaml
node_modules/@eslint/eslintrc/node_modules/argparse/argparse.js
node_modules/@eslint/eslintrc/node_modules/argparse/CHANGELOG.md
node_modules/@eslint/eslintrc/node_modules/argparse/LICENSE
node_modules/@eslint/eslintrc/node_modules/argparse/package.json
node_modules/@eslint/eslintrc/node_modules/argparse/README.md
node_modules/@eslint/eslintrc/node_modules/argparse/lib/sub.js
node_modules/@eslint/eslintrc/node_modules/argparse/lib/textwrap.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/CHANGELOG.md
node_modules/@eslint/eslintrc/node_modules/js-yaml/index.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/LICENSE
node_modules/@eslint/eslintrc/node_modules/js-yaml/package.json
node_modules/@eslint/eslintrc/node_modules/js-yaml/README.md
node_modules/@eslint/eslintrc/node_modules/js-yaml/bin/js-yaml.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/dist/js-yaml.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/dist/js-yaml.min.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/dist/js-yaml.mjs
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/common.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/dumper.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/exception.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/loader.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/schema.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/snippet.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/schema/core.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/schema/default.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/schema/failsafe.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/schema/json.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/binary.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/bool.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/float.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/int.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/map.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/merge.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/null.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/omap.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/pairs.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/seq.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/set.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/str.js
node_modules/@eslint/eslintrc/node_modules/js-yaml/lib/type/timestamp.js
node_modules/@eslint/eslintrc/node_modules/type-fest/base.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/index.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/license
node_modules/@eslint/eslintrc/node_modules/type-fest/package.json
node_modules/@eslint/eslintrc/node_modules/type-fest/readme.md
node_modules/@eslint/eslintrc/node_modules/type-fest/source/async-return-type.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/asyncify.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/basic.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/conditional-except.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/conditional-keys.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/conditional-pick.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/entries.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/entry.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/except.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/fixed-length-array.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/iterable-element.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/literal-union.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/merge-exclusive.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/merge.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/mutable.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/opaque.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/package-json.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/partial-deep.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/promisable.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/promise-value.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/readonly-deep.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/require-at-least-one.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/require-exactly-one.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/set-optional.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/set-required.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/set-return-type.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/stringified.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/tsconfig-json.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/union-to-intersection.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/utilities.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/source/value-of.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/ts41/camel-case.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/ts41/delimiter-case.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/ts41/index.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/ts41/kebab-case.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/ts41/pascal-case.d.ts
node_modules/@eslint/eslintrc/node_modules/type-fest/ts41/snake-case.d.ts
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/LICENSE
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/package.json
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/README.md
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/dist/eslint-visitor-keys.cjs
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/dist/index.d.ts
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/dist/visitor-keys.d.ts
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/lib/index.js
node_modules/@eslint-community/eslint-utils/node_modules/eslint-visitor-keys/lib/visitor-keys.js
node_modules/@jest/console/node_modules/ansi-styles/index.d.ts
node_modules/@jest/console/node_modules/ansi-styles/index.js
node_modules/@jest/console/node_modules/ansi-styles/license
node_modules/@jest/console/node_modules/ansi-styles/package.json
node_modules/@jest/console/node_modules/ansi-styles/readme.md
node_modules/@jest/console/node_modules/chalk/index.d.ts
node_modules/@jest/console/node_modules/chalk/license
node_modules/@jest/console/node_modules/chalk/package.json
node_modules/@jest/console/node_modules/chalk/readme.md
node_modules/@jest/console/node_modules/chalk/source/index.js
node_modules/@jest/console/node_modules/chalk/source/templates.js
node_modules/@jest/console/node_modules/chalk/source/util.js
node_modules/@jest/console/node_modules/color-convert/CHANGELOG.md
node_modules/@jest/console/node_modules/color-convert/conversions.js
node_modules/@jest/console/node_modules/color-convert/index.js
node_modules/@jest/console/node_modules/color-convert/LICENSE
node_modules/@jest/console/node_modules/color-convert/package.json
node_modules/@jest/console/node_modules/color-convert/README.md
node_modules/@jest/console/node_modules/color-convert/route.js
node_modules/@jest/console/node_modules/color-name/index.js
node_modules/@jest/console/node_modules/color-name/LICENSE
node_modules/@jest/console/node_modules/color-name/package.json
node_modules/@jest/console/node_modules/color-name/README.md
node_modules/@jest/console/node_modules/has-flag/index.d.ts
node_modules/@jest/console/node_modules/has-flag/index.js
node_modules/@jest/console/node_modules/has-flag/license
node_modules/@jest/console/node_modules/has-flag/package.json
node_modules/@jest/console/node_modules/has-flag/readme.md
node_modules/@jest/console/node_modules/supports-color/browser.js
node_modules/@jest/console/node_modules/supports-color/index.js
node_modules/@jest/console/node_modules/supports-color/license
node_modules/@jest/console/node_modules/supports-color/package.json
node_modules/@jest/console/node_modules/supports-color/readme.md
node_modules/@jest/core/node_modules/ansi-styles/index.d.ts
node_modules/@jest/core/node_modules/ansi-styles/index.js
node_modules/@jest/core/node_modules/ansi-styles/license
node_modules/@jest/core/node_modules/ansi-styles/package.json
node_modules/@jest/core/node_modules/ansi-styles/readme.md
node_modules/@jest/core/node_modules/chalk/index.d.ts
node_modules/@jest/core/node_modules/chalk/license
node_modules/@jest/core/node_modules/chalk/package.json
node_modules/@jest/core/node_modules/chalk/readme.md
node_modules/@jest/core/node_modules/chalk/source/index.js
node_modules/@jest/core/node_modules/chalk/source/templates.js
node_modules/@jest/core/node_modules/chalk/source/util.js
node_modules/@jest/core/node_modules/color-convert/CHANGELOG.md
node_modules/@jest/core/node_modules/color-convert/conversions.js
node_modules/@jest/core/node_modules/color-convert/index.js
node_modules/@jest/core/node_modules/color-convert/LICENSE
node_modules/@jest/core/node_modules/color-convert/package.json
node_modules/@jest/core/node_modules/color-convert/README.md
node_modules/@jest/core/node_modules/color-convert/route.js
node_modules/@jest/core/node_modules/color-name/index.js
node_modules/@jest/core/node_modules/color-name/LICENSE
node_modules/@jest/core/node_modules/color-name/package.json
node_modules/@jest/core/node_modules/color-name/README.md
node_modules/@jest/core/node_modules/has-flag/index.d.ts
node_modules/@jest/core/node_modules/has-flag/index.js
node_modules/@jest/core/node_modules/has-flag/license
node_modules/@jest/core/node_modules/has-flag/package.json
node_modules/@jest/core/node_modules/has-flag/readme.md
node_modules/@jest/core/node_modules/supports-color/browser.js
node_modules/@jest/core/node_modules/supports-color/index.js
node_modules/@jest/core/node_modules/supports-color/license
node_modules/@jest/core/node_modules/supports-color/package.json
node_modules/@jest/core/node_modules/supports-color/readme.md
node_modules/@jest/reporters/node_modules/ansi-styles/index.d.ts
node_modules/@jest/reporters/node_modules/ansi-styles/index.js
node_modules/@jest/reporters/node_modules/ansi-styles/license
node_modules/@jest/reporters/node_modules/ansi-styles/package.json
node_modules/@jest/reporters/node_modules/ansi-styles/readme.md
node_modules/@jest/reporters/node_modules/chalk/index.d.ts
node_modules/@jest/reporters/node_modules/chalk/license
node_modules/@jest/reporters/node_modules/chalk/package.json
node_modules/@jest/reporters/node_modules/chalk/readme.md
node_modules/@jest/reporters/node_modules/chalk/source/index.js
node_modules/@jest/reporters/node_modules/chalk/source/templates.js
node_modules/@jest/reporters/node_modules/chalk/source/util.js
node_modules/@jest/reporters/node_modules/color-convert/CHANGELOG.md
node_modules/@jest/reporters/node_modules/color-convert/conversions.js
node_modules/@jest/reporters/node_modules/color-convert/index.js
node_modules/@jest/reporters/node_modules/color-convert/LICENSE
node_modules/@jest/reporters/node_modules/color-convert/package.json
node_modules/@jest/reporters/node_modules/color-convert/README.md
node_modules/@jest/reporters/node_modules/color-convert/route.js
node_modules/@jest/reporters/node_modules/color-name/index.js
node_modules/@jest/reporters/node_modules/color-name/LICENSE
node_modules/@jest/reporters/node_modules/color-name/package.json
node_modules/@jest/reporters/node_modules/color-name/README.md
